@use "../../styles/partials/index" as *;

#root {
  height: 90%;
  @include nomargin_nopadding;
}
body {
  display: flex;
  align-items: normal;
  background-color: $darkblue;
}

// ::-webkit-scrollbar {
//   width: 5px;
// }
// ::-webkit-scrollbar-track {
//   background: $darkblue;
// }

// ::-webkit-scrollbar-button {
//   display: none;
// }

// ::-webkit-scrollbar-corner {
//   background: $darkblue;
// }

// ::-webkit-scrollbar-thumb {
//   background: $olive;
// }

.header {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0.5rem 0 1rem 1rem;

  &__logo {
    margin: 0;
    width: 1rem; //67,982px
    height: 1rem;

    #rightPath {
      animation: 4.1s ease-in-out infinite alternate running rightPath;
    }

    @keyframes rightPath {
      from {
        opacity: 1;
      }
      to {
        opacity: 0.5;
      }
    }

    #bottomPath {
      animation: 1.1s ease-in-out infinite alternate running bottomPath;
    }

    @keyframes bottomPath {
      from {
        opacity: 1;
      }
      to {
        opacity: 0.5;
      }
    }

    #leftPath {
      animation: 1s ease-in-out infinite alternate running leftPath;
    }

    @keyframes leftPath {
      from {
        opacity: 1;
      }
      to {
        opacity: 0.5;
      }
    }
  }

  &__text {
    color: $olive;
    background-color: $darkblue;
    margin: 0 0 0 0.5rem;
    letter-spacing: 0.15rem;
    font-size: 1rem;
  }
}

.dashboard {
  background-color: $darkblue;
  width: 100vw;

  &__container {
    margin: 0 0.25rem 0 0.25rem;

    &--search {
      display: flex;
      justify-content: center;
      border: solid 0.25rem $white;
      border-radius: 0.25rem;
      font-family: amedium;
      margin: 0 1.5rem 0 1.5rem;

      &--input {
        border: none;
        height: 3rem;
        width: 12.5rem;
        background-color: $darkblue;
        text-align: center;
        color: $olive;
        outline: none;
        @include nomargin_nopadding;
        font-weight: bold;

        &::placeholder {
          text-align: center;
          color: $fadedblue;
          font-weight: normal;
        }
      }

      &--microphonebox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0 1rem 0 1rem;
        background-color: $darkblue;
        border: none;

        &--microphoneimage {
          height: 1.5rem;
          margin: 0;
          padding: 0;
        }
      }
    }

    &--output {
      display: flex;
      justify-content: center;
      margin: 1rem 0 0 0;

      &--results {
        margin: 0 0 0 1rem;
        width: 15rem;
        height: 15rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5%;
        overflow-x: scroll;
        background-color: $darkblue;
        color: $olive;
        font-size: 12.5px;

        &::-webkit-scrollbar {
          width: 5px;
        }

        &::-webkit-scrollbar-corner {
          background-color: $darkblue;
        }

        &::-webkit-scrollbar-thumb {
          background-color: $olive;
        }
      }
    }
  }

  &__player {
    margin: 2rem 1rem 1rem 1rem;
    width: 90%;
  }
}

.line {
  background-color: $white;
  width: 100%;
  height: 0.5rem;
  margin: 0 0 0.5rem 0;
}

.displaylyrics {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__empty {
    height: 1px;
  }

  &__centered {
    display: flex;
    justify-content: center;
    // width: 90%;

    &--lyrics {
      padding: 1rem 0 1rem 0;
      overflow-x: scroll;
      height: 25vh;
      font-size: 0.65rem;
      line-height: 3rem;
      white-space: pre-line;
      text-align: center;
      color: $olive;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-corner {
        background-color: $darkblue;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $olive;
      }
    }

    &--lyrical {
      position: relative;
      bottom: 13rem;
      margin-bottom: -13rem;
      padding: 1rem 0 1rem 0;
      overflow-x: scroll;
      height: 25vh;
      font-size: 0.55rem;
      line-height: 3rem;
      white-space: pre-wrap;
      text-align: center;
      color: $fadedolive;

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-corner {
        background-color: $darkblue;
      }

      &::-webkit-scrollbar-thumb {
        background-color: $olive;
      }
    }

    &--original {
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: 1rem 0 1rem 0;

      &--a {
        width: 90%;

        &--b {
          overflow-x: scroll;
          height: 25vh;
          font-size: 1.2rem;
          line-height: 1.5rem;
          white-space: pre-line;
          text-align: center;
          color: $olive;

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-corner {
            background-color: $darkblue;
          }

          &::-webkit-scrollbar-thumb {
            background-color: $olive;
          }
        }
      }
    }

    &--buttona {
      margin: 0.5rem 0 0 0;
      border: solid 1px $white;
      font-family: amedium;
      padding: 0.25rem;
      border-radius: 0.25rem;
      color: $fadedblue;
      background-color: $darkblue;
    }

    &--buttonb {
      margin: 2rem 0 0 0;
      border: solid 1px $white;
      font-family: amedium;
      padding: 0.25rem;
      border-radius: 0.25rem;
      color: $fadedblue;
      background-color: $darkblue;
    }
  }
}

// &__lyrics {
//   font-family: abold;
//   font-size: 1rem;
//   width: 50rem;
//   // line-height: 7rem;
//   display: flex;
//   justify-content: center;
//   font-weight: bold;
//   text-align: center;
//   white-space: pre;
//   color: $olive;
//   height: 25vh;
//   overflow-x: scroll;
//   // overflow-y: none;
//   @include nomargin_nopadding;
// }
