@font-face {
  font-family: amedium;
  src: url("../../assets/font/ITCAvantGardeStd_Md.otf") format("opentype");
}

@font-face {
  font-family: abold;
  src: url("../../assets/font/ITCAvantGardeStd_Bold.otf") format("opentype");
}
