@use "../src/styles/partials/index" as *;

#root {
  width: 100vw;
  height: 100vh;
}

body {
  @include nomargin_nopadding;
  margin: 0;
  font-family: amedium, "Oxygen", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
